{{page-title "Content " this.model}}
<main class="container mt-5">
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>{{this.model.content_title}}</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      {{this.model.publishing_user}}
    </figcaption>
  </figure>
</main>


{{outlet}}